// global styles and changing bulma variables

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

// Update some bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GOBAL STYES */
html, body {
  height: 100%;  
}
